function FindProxyForURL(url, host) {
    host = host.toLowerCase();
    {%- for proxy in proxies %}
    if (
        {%- for target in proxy.targets %}
        {% if loop.index > 1 %}|| {% else %}   {% endif -%}
        {%- if target.type == "HOST" -%}localHostOrDomainIs(host, "{{ target.target }}")
        {%- elif target.type == "HOSTS" -%}dnsDomainIs(host, "{{ target.target }}")
        {%- elif target.type == "NET_MASK" -%}isInNet(host, "{{ target.netmask[0] }}", "{{ target.netmask[1] }}")
        {%- else -%}host === "{{ target.target }}"
        {%- endif -%}
        {%- endfor %}
    ) { return "{{ proxy.route }}"; }
    {%- endfor %}
    return "{{ default }}";
}
