function FindProxyForURL(url, host) {
    var host = host.toLowerCase();
    {%- for proxy in proxies %}
    if (
        {%- for target in proxy.targets %}
        {% if loop.index > 1 %}|| {% else %}   {% endif -%}
        {%- if target.type == "HOST" -%}localHostOrDomainIs
        {%- else -%}dnsDomainIs
        {%- endif -%}
        (host, "{{ target.target }}")
        {%- endfor %}
    ) { return "{{ proxy.route }}"; }
    {%- endfor %}
    return "{{ default }}";
}
